In [1]:
import pandas as pd
from donkeycar.parts.datastore import TubGroup, TubHandler

import numpy as np

using donkey v2.2.1 ...

In [2]:
tub_names = "./data/rally_A_01,./data/rally_A_02"

In [3]:
if not tub_names:
    tub_names = os.path.join(cfg.DATA_PATH, '*')
tubgroup = TubGroup(tub_names)

TubGroup:tubpaths: ['/Users/admin/personal/donkeyng/data/rally_A_01', '/Users/admin/personal/donkeyng/data/rally_A_02']
path_in_tub: /Users/admin/personal/donkeyng/data/rally_A_01
Tub exists: /Users/admin/personal/donkeyng/data/rally_A_01
path_in_tub: /Users/admin/personal/donkeyng/data/rally_A_02
Tub exists: /Users/admin/personal/donkeyng/data/rally_A_02
joining the tubs 10005 records together. This could take 0 minutes.

In [4]:
df = tubgroup.df

In [5]:
df.head()

,cam/image_array,user/angle,user/mode,user/throttle
0,/Users/admin/personal/donkeyng/data/rally_A_01...,0.327203,user,0.468796
1,/Users/admin/personal/donkeyng/data/rally_A_01...,0.334293,user,0.511960
2,/Users/admin/personal/donkeyng/data/rally_A_01...,0.334293,user,0.511960
3,/Users/admin/personal/donkeyng/data/rally_A_01...,0.334293,user,0.511960
4,/Users/admin/personal/donkeyng/data/rally_A_01...,0.334293,user,0.511960

In [8]:
df = df.assign(angle_15 = np.zeros(len(df.index)))
df = df.assign(angle_30 = np.zeros(len(df.index)))

df.reset_index()
for i in range(0,len(df.index)):
    if i+30 <= max(df.index):
        df.at[i, 'angle_15'] = df['user/angle'].iloc[i+15]
        df.at[i, 'angle_30'] = df['user/angle'].iloc[i+30]

In [9]:
df.head()

,cam/image_array,user/angle,user/mode,user/throttle,angle_15,angle_30
0,/Users/admin/personal/donkeyng/data/rally_A_01...,0.327203,user,0.468796,0.273475,0.274002
1,/Users/admin/personal/donkeyng/data/rally_A_01...,0.334293,user,0.511960,0.273475,0.274002
2,/Users/admin/personal/donkeyng/data/rally_A_01...,0.334293,user,0.511960,0.270746,0.274002
3,/Users/admin/personal/donkeyng/data/rally_A_01...,0.334293,user,0.511960,0.247341,0.274002
4,/Users/admin/personal/donkeyng/data/rally_A_01...,0.334293,user,0.511960,0.247341,0.290320